<%= bootstrap_form_for [@business] do |f| %>
    <%= f.alert_message "Please fix the errors below." %>

    <div class="field">
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.text_field :website %>
    </div>

    <div class="field">
      <%= f.file_field :avatar %>
      <% if @business.avatar.exists? %>
          <%= image_tag @business.avatar.url %><br/>
      <% end %>
    </div>

    <div class="field">
      <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), include_blank: ""  %>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>

<% end %>