<p>
  <% if location_deal.location.business.avatar.exists? %>
      <%= image_tag location_deal.location.business.avatar.url %><br/>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= location_deal.location.business.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= location_deal.location.business.website %>
</p>

<p>
  <strong>Category:</strong>
  <%= location_deal.location.business.category.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= location_deal.location.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= location_deal.location.phone_number %>
</p>

<p>
  <strong>Starts:</strong>
  <%= location_deal.deal.start_date.to_formatted_s :long_ordinal %>
</p>

<p>
  <strong>Ends:</strong>
  <%= location_deal.deal.end_date.to_formatted_s :long_ordinal %>
</p>

<p>
  <strong>Days Available:</strong>
  <%= 'Monday' if location_deal.deal.monday %>
  <%= 'Tuesday' if location_deal.deal.tuesday %>
  <%= 'Wednesday' if location_deal.deal.wednesday %>
  <%= 'Thursday' if location_deal.deal.thursday %>
  <%= 'Friday' if location_deal.deal.friday %>
  <%= 'Saturday' if location_deal.deal.saturday %>
  <%= 'Sunday' if location_deal.deal.sunday %>
</p>

<p>
  <strong>Description:</strong>
  <%= location_deal.deal.description %>
</p>