<% if next_business %>

<p>
  <% if location_deal.location.business.avatar.exists? %>
      <%= image_tag location_deal.location.business.avatar.url %><br/>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= location_deal.location.business.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= location_deal.location.business.website %>
</p>

<p>
  <strong>Category:</strong>
  <%= location_deal.location.business.category.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= location_deal.location.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= location_deal.location.phone_number %>
</p>

<% end %>

<p>
  <strong>Dates Available :</strong>
  <%= "#{display_full_date(location_deal.deal.start_date)} - #{display_full_date(location_deal.deal.end_date)}" %>
</p>

<p>
  <strong>Days Available:</strong>
  <%= display_days(location_deal.deal) %>
</p>

<p>
  <strong>Description:</strong>
  <%= location_deal.deal.description %>
</p>