<p>
  <% if location.business.avatar.exists? %>
      <%= image_tag location.business.avatar.url %><br/>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= location.business.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= location.business.website %>
</p>

<p>
  <strong>Category:</strong>
  <%= location.business.category.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= location.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= location.phone_number %>
</p>

<div id="favorite-<%= location.id %>">
    <%= render partial: "shared/favorite_button", locals: { :location => location, :ajax_update => false } %>
</div>