<p>
  <strong>Status:</strong>
  <%= deal.status %>
</p>

<p>
  <strong>Locations:</strong>
  <% deal.locations.each do |location| %>
    <%= location.address %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= deal.description %>
</p>

<p>
  <strong>Starts:</strong>
  <%= deal.start_date %>
</p>

<p>
  <strong>Ends:</strong>
  <%= deal.end_date %>
</p>

<p>
  <strong>Days Available:</strong>
  <%= 'Sunday' if deal.sunday %>
  <%= 'Monday' if deal.monday %>
  <%= 'Tuesday' if deal.tuesday %>
  <%= 'Wednesday' if deal.wednesday %>
  <%= 'Thursday' if deal.thursday %>
  <%= 'Friday' if deal.friday %>
  <%= 'Saturday' if deal.saturday %>
</p>

<%= link_to 'Edit', edit_business_deal_path(@business, deal) %>
<%= link_to 'Delete', business_deal_path(@business, deal), method: :delete, data: { confirm: 'Are you sure?' } %>