<p>
  <strong>Status:</strong>
  <%= deal.status.capitalize %>
</p>

<p>
  <strong>Starts:</strong>
  <%= display_full_date(deal.start_date) %>
</p>

<p>
  <strong>Ends:</strong>
  <%= display_full_date(deal.end_date) %>
</p>

<p>
  <strong>Locations:</strong>
  <% if deal.locations.present? %>
      <% deal.locations.each do |location| %>
          <%= location.address %>
      <% end %>
  <% else %>
    This deal is not connected to any of your locations. Please edit the deal to select a location.
  <% end %>
</p>

<p>
  <strong>Days Available:</strong>
  <%= display_days(deal) %>
</p>

<p>
  <strong>Description:</strong>
  <%= deal.description %>
</p>


<%= link_to 'Edit', edit_business_deal_path(@business, deal) %>
<%= link_to 'Delete', business_deal_path(@business, deal), method: :delete, data: { confirm: 'This will delete the deal at all the listed locations. Are you sure you want to delete it?' } %>