<%= bootstrap_form_for [@business, @deal] do |f| %>

    <%= f.alert_message "Please fix the errors below." %>

    <div class="field">
        <%= f.form_group :status, label: { text: 'Status' } do %>
            <%= f.radio_button :status, 'active', checked: true, label: 'Active' %>
            <%= f.radio_button :status, 'disabled', label: 'Disabled' %>
        <% end %>
    </div>

    <div class="field">
      <%= f.text_field :start_date, class: 'start-date' %>
    </div>

    <div class="field">
      <%= f.text_field :end_date, class: 'end-date' %>
    </div>

    <div class="field">
      <% if @business.locations.empty? %>
          <strong>Locations </strong>Please click <%= link_to 'here', new_business_location_path(@business) %> to add a location for your business
      <% else %>
          <%= f.collection_check_boxes(:location_ids, @business.locations, :id, :address, { label: 'Locations'}) %>
      <% end %>
    </div>


    <div class="field">
      <%= label_tag 'Days Available' %>
      <% Date::DAYNAMES.each do |day| %>
          <%= f.check_box day.downcase.to_sym, {}, 'true', 'false' %>
      <% end %>
    </div>

    <div class="field">
      <%= f.text_area :description %>
    </div>


    <div class="actions">
      <%= f.submit 'Save' %>
    </div>

<% end %>